html, body{
    margin:0;
    padding: 0;
    height: 100%;
    width: 100%;
}
#content{
    height: 100%;
    width: 100%;
    margin:auto;
}
#main{
    height: 100%;
    width: 100%;
    margin:auto;
    background: url("background1.jpg") no-repeat 50% 50%;
    background-size: 100% 110%;
}