/*reset style, take away all thingys that the browser have*/
*{
    margin: 0;
    padding: 0;
    border: 0;
}
html, body{
    font-family: 'Lato', sans-serif;
}
.paralax{
    background: url("background3.jpg") no-repeat 50% 30% fixed;
}
.paralax-1{
    background: url("pics/aboutMe.jpg") no-repeat 50% 30% fixed;
}
.paralax-2{
    background: url("pics/photo.jpg") no-repeat 50% 30% fixed;
}
#center{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
#inner-paralax{
    height: 100%;
    width: 100%;
    margin:auto;
}
#counter{
    position: fixed;
    left: 90%;
    top: 60%;
}
#counter h3{
    padding-left: 40%;
}